/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5d4954;
  color: black;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5d4954;
  color: #000;
}

.modal-body {
  display: flex;
}

#desc p {
  color: black;
  margin-left: 20px;
}

#buttons {
  justify-content: center;
  display: block;
  padding-left: 42%;
}

#buttons > div {
  border-radius: 7px;
  border: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  padding: 2px;
  justify-content: center;
}

#buttons a {
  color: #000;
}

#buttons a:hover {
  color: #888;
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  .modal-content p,
  h4 {
    display: none;
    max-width: 100%;
  } /* hide it elsewhere */
  .modal-body {
    display: flex;
    flex-direction: column;
  }
}
