@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
   

}
body{
    background-color: #252627;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;

}

.logo{
    color:rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex; /*makes the links display horizontally*/
    justify-content: space-around; /*adjusts the spacing*/
    width: 30%
    
    
}



.nav-links a{ /*selects all a tags?*/
    color:rgb(226, 226, 226);
    text-decoration: none; /*removes underline*/
    letter-spacing: 3px;
    font-weight:bold ;
    font-size: 14px;
    border-radius: 30%;
    margin: 12px;
    padding: 10px;


}

.nav-links li{
    list-style: none; /*removes bullet points*/
    

}

.nav-links li a:hover{
    background: #ED5565;
    color: #fff;}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 20px;
    height: 2px;
    background-color: rgb(226, 226,226);
    margin: 5px;

}

/* -----------------------------------------------------------*/

.container-main-section{
    height:calc(100vh - 811.6px);
    padding-left: 50px;
    padding-top: 80px;
}

.text{
    margin-top:120px;
}

.text h1{
    color: #fff;
    font-size:3rem;
    cursor: context-menu;
    
}

.text span{
    display: inline-block;

}



span:hover{
    color: #ED5565;;
    transition: all .1s;
    animation-name: rubberBand;
}

span {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    display: inline-block;
  }
  

span.name{
    color: #ED5565

}

span.m-left{
    margin-left: -10px;
}

p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .9rem;
    color: #737373;

}

#contact{
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 20px;
    left: 150px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

#contact:hover{
    color:#fff;
}

#contact::before{
    content: '';
    background-color: #ED5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;

}

#contact:hover::before{
    height:100%;

}

.contact{
    text-decoration: none;
    color: #fff;
    
}

.par{
    height: 50px;
    width:400px;
    padding-top: 20px;
    position: relative;
}


.profile-img{
    width:400px;
    height:400px;
    position:relative;
    left: 1100px;
    bottom: 130px;
}

.social-icons{
    position: absolute;
    right: 50px;
    bottom: 2%; 
}

 
.social-icons ul li{
    width: 50px;
    height: 50px;
    display: inline-block;
}

.social-icons ul li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 12px 17px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.social-icons ul li a:hover{
    background: #c32865;
    color: #fff;}


    .about-me{
        flex-direction: column;
    }



@media screen and (max-width: 1024px){
    .nav-links{
        display: flex; /*makes the links display horizontally*/
        justify-content: space-around; /*adjusts the spacing as the screen size reduces*/
        width: 60%;
        

}
    

}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden; 
        /*we dont want the container to scroll*/
    }
  .nav-links{
      position: fixed;
      right: 0px; /*so that it sticks to the right*/
      height: 92vh; /*full screen*/
      top: 8vh; /* so that its right under the nav bar*/
      background-color: #5D4954;
      display: flex;
      flex-direction: column; /*so that it aligns in columns*/
      align-items: center;
      width: 50%;
      transform: translateX(100%); /*moves container off the screen, prepare for transition*/
      transition: transform 0.5s ease-in;

  }
  .nav-links li{
      opacity: 0; /*hides the list*/
  }
  .burger{
      display: block;
  }

}

.nav-active{
    transform: translateX(0%); /*move back to zero so that the container displays*/
}

.about-me {
    color: white;

}.about-container{
    display:flex;
    flex-direction: column;

}


@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
      }
    
      30% {
        transform: scale3d(1.25, 0.75, 1);
      }
    
      40% {
        transform: scale3d(0.75, 1.25, 1);
      }
    
      50% {
        transform: scale3d(1.15, 0.85, 1);
      }
    
      65% {
        transform: scale3d(.95, 1.05, 1);
      }
    
      75% {
        transform: scale3d(1.05, .95, 1);
      }
    
      to {
        transform: scale3d(1, 1, 1);
      }


}

/*now we creating an animation*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px); /*starts at opacity 0 and transitions to 1. 
        goes from 50px to 0px (slides in)*/
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }

    
/*-----------------------------------------Animation using JQuery--------------------------------------------------------*/




