@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #252627;
  overflow-x: hidden;
}
section{
  overflow: hidden;

}
nav {
  width: 100vw;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 100;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex; /*makes the links display horizontally*/
  justify-content: space-around; /*adjusts the spacing*/
  width: 30%;
}

.nav-links a {
  /*selects all a tags?*/
  color: rgb(226, 226, 226);
  text-decoration: none; /*removes underline*/
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 999px;
  margin: 12px;
  padding: 10px;
}

.nav-links li {
  list-style: none; /*removes bullet points*/
}

.nav-links li a:hover {
  background: #ed5565;
  color: #fff;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 20px;
  height: 2px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}

/* -----------------------------------------------------------*/

.container-main-section {
  margin-top: 8vh;
  display: grid; /*set dispay property to grid*/
  grid-template-areas:
    "heading picture"
    "heading links"; /*labels the different areas of the grid*/
  grid-gap: 0.5em;

  margin-bottom: 2vh;

  height: 90vh;
}
.container-main-section > div {
  width: 47vw;
}
.contact {
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #ed5565;
  color: #ed5565;
  font-size: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  top: 20px;
  left: 150px;
  overflow: hidden;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
}
.contact-btn:hover {
  content: "";
  background-color: #ed5565;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.5s;
}
.text {
  padding-top: 30%;
  grid-area: heading;
  padding-left: 5vw;
}

.text h1 {
  color: #fff;
  font-size: 3rem;
  cursor: context-menu;
}

.text span {
  display: inline-block;
}

span:hover {
  color: #ed5565;
  transition: all 0.1s;
  animation-name: rubberBand;
}

span {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
}

span.name {
  color: #ed5565;
}

span.m-left {
  margin-left: -10px;
}

p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font: size 0.9em;
  color: #b0a7a2;
}

#contact {
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #ed5565;
  color: #ed5565;
  font-size: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  top: 20px;
  left: 150px;
  overflow: hidden;
  transition: 0.5s;
  display: inline-block;
}

#contact:hover {
  color: #fff;
}

#contact::before {
  content: "";
  background-color: #ed5565;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.5s;
}

#contact:hover::before {
  height: 100%;
}

.contact {
  text-decoration: none;
  color: #fff;
}

.par {
  height: 50px;
  width: 400px;
  padding-top: 20px;
  position: relative;
  grid-area: contact;
}

.profile-img {
  margin-top: 10vh;
  width: 25vw;
  height: 25vw;
  border: solid rgb(255, 245, 245);
  object-fit: cover;
  border-radius: 999px;
  box-shadow: 5px 5px 20px rgb(231, 112, 132);
  grid-area: picture;
  align-content: center;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  grid-area: links;
}

.social-icons ul li {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.social-icons ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 12px 17px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.social-icons ul li a:hover {
  background: #c32865;
  color: #fff;
}

.about-me {
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex; /*makes the links display horizontally*/
    justify-content: space-around; /*adjusts the spacing as the screen size reduces*/
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    /*we dont want the container to scroll*/
  }
  .nav-links {
    position: fixed;
    right: 0px; /*so that it sticks to the right*/
    height: 92vh; /*full screen*/
    top: 8vh; /* so that its right under the nav bar*/
    background-color: #5d4954;
    display: flex;
    flex-direction: column; /*so that it aligns in columns*/
    align-items: center;
    width: 50%;
    transform: translateX(
      100%
    ); /*moves container off the screen, prepare for transition*/
    transition: transform 0.5s ease-in;
  }
  .social-icons {
    justify-content: space-around;
    margin-bottom: 2em;
  }
  .text {
    padding-top: 2em;
  }
  .nav-links li {
    opacity: 0; /*hides the list*/
  }
  .burger {
    display: block;
  }
  .container-main-section {
    margin-top: 8vh;
    display: grid; /*set dispay property to grid*/
    grid-template-areas: "picture" "heading" "links"; /*labels the different areas of the grid*/
    grid-gap: 0.5em;
    height: auto;
    width: 100vw;
  }
  .contact {
    display: none !important;
  }
  .container-main-section > div {
    width: 100vw;
  }
}

.nav-active {
  transform: translateX(
    0%
  ); /*move back to zero so that the container displays*/
}
#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 90px;
}
.about-me {
  color: white;
}
.about-container {
  display: flex;
  flex-direction: column;

  padding-left: 10vw;
  margin-bottom: 10vh;
  font-family: "Poppins", sans-serif;
  padding-right: 10vw;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/*now we creating an animation*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(
      50px
    ); /*starts at opacity 0 and transitions to 1. 
        goes from 50px to 0px (slides in)*/
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*-----------------------------------------Animation using JQuery--------------------------------------------------------*/

/*----sliders----*/

#skills {
  height: 100vh;
  justify-content: center;
  align-content: center;

  padding-top: 80px;
}

::selection {
  color: #fff;
  background: #ed5565;
}
.skill-bars {
  margin: auto;
  margin-top: 3em;

  width: 70%;
  font-family: "Poppins", sans-serif;

  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: white;

  padding: 2em;
}
.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #ed5565;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.html span {
  width: 90%;
}
.bar .progress-line.css span {
  width: 60%;
}
.bar .progress-line.jquery span {
  width: 85%;
}
.bar .progress-line.python span {
  width: 50%;
}
.bar .progress-line.mysql span {
  width: 75%;
}
.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "60%";
}
.progress-line.jquery span::after {
  content: "85%";
}
.progress-line.python span::after {
  content: "50%";
}
.progress-line.mysql span::after {
  content: "75%";
}
/*--portfolio gallery projects---*/
/* Center website */

h1 {
  font-size: 50px;
  word-break: break-all;
}
.proj_head {
  font-family: "Poppins", "sans seriff";
}
.cont_head {
  font-family: "Poppins", "sans seriff";
  text-align: center;
  color: aliceblue;
  padding-bottom: 10px;

  margin-bottom: 5em;
}
.row {
  margin: 2em;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  font-family: 'Poppins';
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  box-shadow: 5px 5px 20px rgb(231, 112, 132);
  padding: 10px;
  color: white;
}

.content a {
  text-decoration: none;
  color: white;
}
.content img {
  height: 20vw;
  width: 30vw;
  object-fit: contain;
}

.content:hover {
  opacity: 0.5;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/*cotnact form*/
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(231, 112, 132);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(221, 64, 90);
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.container {
  border-radius: 5px;
  background-color: rgb(53, 49, 51);
  box-shadow: -5px -4px 15px 4px rgba(53, 49, 51, 0.75);
  -webkit-box-shadow: -5px -4px 15px 4px rgba(53, 49, 51, 0.75);
  -moz-box-shadow: -5px -4px 15px 4px rgba(53, 49, 51, 0.75);
  padding: 20px;
  margin: 10vw;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}
/*---reviews--->*/
.carrousel {
  background: rgb(53, 49, 51);
  text-align: center;
  padding: 4em 0;
  height: 7.5em;
  max-width: 55vw;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 3em;
  height: auto;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;

}
.carrousel h2 {
  margin: 0;
  margin-top: -1.7em;
  padding: 0;
  font-size: small;
  text-align: center;
  color: #ebe9e9;
}
.carrousel .slides {
  width: 400%;
  left: 0;
  padding-left: 0;
  padding-top: 1em;
  overflow: hidden;
  list-style: none;
  position: relative;

  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
.carrousel .slides li {
  width: 25%;
  position: relative;
  float: left;
}
.carrousel li p {
  margin-top: 0;
  font-size: small;
}
.carrousel li q {
  max-width: 90%;
  margin: auto;
  color: #f5f0f0;
  font-size: small;
  font-weight: bold;
}
.carrousel li img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -1.5em;
  margin-right: 0.5em;
  vertical-align: middle;
}
.carrousel li span.author {
  margin-top: 0.5em;
  font-size: 1.2em;
  color: #ebe3e3;
  display: block;
}
.carrousel .slidesNavigation {
  display: block;
  list-style: none;
  text-align: center;
  bottom: 1em;
  /*--- Centering trick---*/
  /* Absolute positioning*/
  position: absolute;
  /* Abosulte positioning*/
  width: 104px; /*This width  is the addition of the width of all the navigations dots - So in this case is   104 because the navigation dots are 26px (width:10px and 6px marginleft + 6 px marginright) and there are 4 dots so 4x26=104 */
  left: 50%; /*Centering de element*/
  margin-left: -52px; /*adjusting the centering by applying a negative margin of half of the width*/
}
.carrousel input {
  display: none;
}
.carrousel .slidesNavigation label {
  float: left;
  margin: 6px;
  display: block;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px #ed5565;
  font-size: 0;
}
/* You have to repeat this with each slide
  TODO: make it easier with SCSS
  25% movement 100/slides-num
  */
#radio-1:checked ~ .slides {
  transform: translateX(0%);
}
#radio-2:checked ~ .slides {
  transform: translateX(-25%);
}
#radio-3:checked ~ .slides {
  transform: translateX(-50%);
}
#radio-4:checked ~ .slides {
  transform: translateX(-75%);
}

.carrousel .slidesNavigation label:hover {
  cursor: pointer;
}
/* You have to repeat this with each slide/dot */
.carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
  background: #ed5565;
}

#topbtn {
  background-color: rgb(231, 112, 132);
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

#topbtn:hover {
  background-color: rgb(221, 64, 90);
}

a:link {
  text-decoration: none;
}

a:visited {
  color: aliceblue;
}

/*Code for timeline*/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timelineContainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timelineContainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ed5565;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.timelineContent {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  font-family: 'Poppins';
}

/* timeline mobile*/
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }

  .carrousel{
    width: 90vw !important;
  }
  
  /* Full-width containers */
  .timelineContainer {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .timelineContainer::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}
